#! /bin/bash
# vim: tabstop=2 expandtab shiftwidth=2 softtabstop=2 smartindent nu

set -e
set -u

{% for certname, certdata in certbot__certs.items() %}

#{{ certname }}
if [ ! -f /etc/letsencrypt/live/{{ certname }}/cert.pem -o "$0" -nt /etc/letsencrypt/live/{{ certname }}/cert.pem -o {{ certbot__forcerun | default(0) }} -gt 0 ]; then
  CERTBOTARGS="--webroot"
  {% if certbot__use_http %}
  CERTBOTARGS="--standalone"
  {% if certbot__http_address | length > 0 %}
  CERTBOTARGS="$CERTBOTARGS --http-01-address {{ certbot__http_address }}"
  {% endif %}
  {% endif %}
  {% for webroot, domlist in certdata.items() -%}
  {% if certbot__use_http %}
  CERTBOTARGS="$CERTBOTARGS --http-01-port {{ webroot }} -d {{ domlist | join(',') }}"
  {% else %}
  CERTBOTARGS="$CERTBOTARGS -w {{ webroot }} -d {{ domlist | join(',') }}"
  {% endif %}
  {% endfor -%}
  {% for hook, script in certbot__hooks.items() %}
  CERTBOTARGS="$CERTBOTARGS --{{ hook }}-hook {{ script }}"
  {% endfor %}
  {{ certbot__bin }} certonly {{ certbot__args | join(' ') }} {% if certbot__forcerun == 1 -%} --reinstall --force-renewal --break-my-certs {% endif -%} --cert-name {{ certname }} $CERTBOTARGS
fi

{% endfor %}
